* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.15em;
    background-color: #333333ff;
}


#header--container {
    display: flex;
    height: 12vh;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
    z-index: 1000;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

#logo {
    font-size: 17px;
    width: 150px;
    margin: 12px 0 12px 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

#the {
    float: left;
    justify-content: flex-start;
    font-size: 0.5em;
    writing-mode: vertical-rl;
    transform: rotateY('180deg');
    letter-spacing: 3px;
    margin-top: 2px;
    margin-right: 3px;
}

#analog {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 5px;
     text-shadow: 0 0 7px rgb(52, 39, 27),  0 0 10px rgb(52, 39, 27);
}

ul {
    padding: 15px;
    text-align: center;
    margin: 12px 20px 12px 0;
    cursor: pointer;
}

li {
    display: inline;
    margin: 0px 3px;
}

a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 1.5em 2px 1.5em 2px;
    padding: 7px 18px;
}

a:hover, a.on {
    color: rgb(32, 32, 32);
    background-color: white;
    transition: 0.5s;
}

#section_1 {
    margin-top: 12vh;
    height: 88vh;
    background: url(../img/pianobg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}

.content {
    background: rgba(0, 0, 0, 0.603);
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.842);
    backdrop-filter: blur( 3px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family: 'Playfair Display', monospace;
    height: auto;
    width: 650px;
    padding: 30px;
    font-size: 30px;
    letter-spacing: 3px;
    font-style: oblique;
    margin: auto;
    font-weight: 600;
    color: white;
    transition: .5s;
}

.content:hover {
    background: rgba(0, 0, 0, 0.801);
    transform: scale(1.05);
}

.float--cont {
    perspective: 1200px;
}

.float {
    background-image: linear-gradient(to right, rgb(8, 8, 8), rgba(39, 39, 39, 0.76), rgba(51, 51, 51, 0.521)), url(../img/keysbg.jpg);
    border: 2px solid rgba(255, 255, 255, 0.178);
    border-radius: 10px;
    box-shadow: -10px 15px 20px black;
    margin-right: 50px;
    height: 450px;
    width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateY(-30deg);
    transition: 1s ease-in-out;
}

.float:hover {
    transform: rotateY(0);
    box-shadow: 20px 20px 5px black;
}

#for_sale {
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../img/sheets.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 10px;
    width: 100%;
}

.section_title {
    color: white;
    font-size: 66px;
    text-transform: uppercase;
    font-weight: bolder;
    width: 1000px;
    margin: 25px auto;
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sales--cont {
    width: 330px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
    text-align: center;
    margin: 20px;
    overflow: hidden;
}

.sales {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.yamaha {
    background-image: url(../img/pexels-pixabay-164743.jpg);
}

.textHover {
    position: absolute;
    background-color: rgba(36, 36, 36, 0.5);
    backdrop-filter: blur(3px);
    overflow: hidden;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.7s ease;
}

.sales--cont:hover .textHover {
    height: 100%;
}

.brand--cont {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.brand {
    color: white;
    text-transform: uppercase;
}